*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/*GENERALI*/
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.float-left{
  float: left;
}

i{
  cursor: pointer;
}

/*STRUTTURA ESTERNA*/
.container{
  height: 100vh;
  width: 100%;
  background-color: #249687;
  background-image: linear-gradient(#249687 17%, #dcdbd0 17%, #d1dadb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*STRUTTURA INTERNA*/
.box{
  min-width: 800px;
  width: 85%;
  height: 670px;
  background-color: chartreuse;
}

/*************TOP DELLA STRUTTURA***************/
.top-left-user, .main-left{
  width: 35%;
}

.top-right-user, .main-right{
  width: 65%;
}

.top-left-user, .top-right-user{
  height: 60px;
  background-color: #e9e9e9;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.my-user-left, .my-user-right{
  display: flex;
  align-items: center;
}

/*STRUTTURA TOP LEFT*/
.top-left-user img, .top-user-chat-left img{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.top-left-user h4{
  font-weight: 600;
}

.my-user-right i, .top-user-chat-right i{
  color: #b0b0b1;
  margin: 0 8px;
  font-size: 18px;
}

/*STRUTTURA TOP RIGHT*/
.top-user-chat-left{
  display: flex;
  align-items: center;
}

.top-user-chat-left h5{
  font-size: 15px;
  font-weight: 500;
}

.top-user-chat-left span{
  color: gray;
  font-size: 12px;
  font-weight: bold;
}

/*MAIN*/
.main-left, .main-right{
  height: 610px;
}

.main-left{
  background-color: #faf9fa;
}

.main-right{
  background-color: white;
}

/*************MAIN LEFT**************/
/*Notifice*/
.notifiche{
  height: 75px;
  width: 100%;
  background-color: #8ddafc;
  display: flex;
  align-items: center;
  padding: 15px;
}

.notifiche i{
  border-radius: 50%;
  color: #8ddafc;
  background-color: white;
  font-size: 20px;
  padding: 12px;
  margin: 10px;
}

.notifiche .msg-notifiche p{
  font-size: 15px;
  font-weight: 600;
}

.notifiche .msg-notifiche a{
  font-size: 13px;
  color: gray;
}

/*******UTENTI********/
/*BARRA DI RICERCA UTENTE*/
.search-user{
  padding: 6px;
  text-align: center;
}

.search-user i{
  color: #b0b0b1;
  width: 10%;
  height: 30px;
  background-color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  vertical-align: middle;
  cursor: pointer;
  padding-top: 7px;
}

.search-user input{
  line-height: 30px;
  border: none;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  vertical-align: middle;
  width: 89%;
  padding-left: 10px;
  margin-left: -5px;
}

/*LISTA UTENTI*/
.user-list{
  width: 95%;
  height: 491px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.user-list .user{
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  border: 1px solid #e8eaea;
  border-bottom: none;
  cursor: pointer;
}

.user-list .user:last-of-type{
  border-bottom: 1px solid #e8eaea;
}

.active{
  background-color: #e8eaea;
}

.user-list-left{
  display: flex;
  align-items: center;
}

.user img{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  margin-left: 10px;
}

.last-msg h5{
  font-size: 15px;
  font-weight: 500;
}

.user span{
  color: gray;
  font-size: 12px;
  font-weight: 500;
}

/*MAIN RIGHT*/
.chat{
  height: calc(100% - 60px);
  background-image: url(../img/mine.jpg);
  padding: 30px 60px;
  overflow-y: auto;
}

.area-msg{
  height: 60px;
  width: 100%;
  background-color: #f3edea;
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.area-msg i{
  color: #b0b0b1;
  font-size: 25px;
}

.area-msg input{
  width: 80%;
  border: none;
  line-height: 30px;
  padding: 5px 15px;
  border-radius: 5px;
  vertical-align: middle;
}

.area-msg i:last-of-type{
  color: #6a7275;
}

/******AREA MSG**********/
.msg-left{
  background-color: #fefefe;
  float: left;
  clear: both;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.msg-right{
  background-color: #d4f8ba;
  border-radius: 10px;
  float: right;
  clear: both;
  padding: 15px 20px;
  margin-bottom: 20px;
}

